Repository Health-Informatics-UoN/rcc-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, documentation, Area: Backend, Area: Frontend

remove panda config files
  app/frontend-webapp/panda.config.ts
  app/frontend-webapp/styles/globals.css
Labels: Area: Frontend

remove shadow panda components
  app/frontend-webapp/components/core/Alert.tsx
  app/frontend-webapp/components/shadow-ui/Accordion.tsx
  app/frontend-webapp/components/shadow-ui/Alert.tsx
  app/frontend-webapp/components/shadow-ui/Avatar.tsx
  app/frontend-webapp/components/shadow-ui/Badge.tsx
  app/frontend-webapp/components/shadow-ui/Button.tsx
  app/frontend-webapp/components/shadow-ui/Command.tsx
  app/frontend-webapp/components/shadow-ui/Dialog.tsx
  app/frontend-webapp/components/shadow-ui/DropdownMenu.tsx
  app/frontend-webapp/components/shadow-ui/HoverCard.tsx
  app/frontend-webapp/components/shadow-ui/Input.tsx
  app/frontend-webapp/components/shadow-ui/Label.tsx
  app/frontend-webapp/components/shadow-ui/Popover.tsx
  app/frontend-webapp/components/shadow-ui/Sheet.tsx
  app/frontend-webapp/components/shadow-ui/Switch.tsx
  app/frontend-webapp/components/shadow-ui/Table.tsx
  app/frontend-webapp/components/shadow-ui/Tabs.tsx
  app/frontend-webapp/components/shadow-ui/Toast/Toast.tsx
Labels: Area: Frontend

add tailwind config
  app/frontend-webapp/README.md
  app/frontend-webapp/app/globals.css
  app/frontend-webapp/lib/utils.ts
  app/frontend-webapp/package.json
  app/frontend-webapp/postcss.config.cjs
  app/frontend-webapp/postcss.config.js
  app/frontend-webapp/tailwind.config.ts
  package-lock.json
Labels: dependencies, Area: Frontend

add shadcn ui components
  app/frontend-webapp/components/shadow-ui/Toast/Toaster.tsx
  app/frontend-webapp/components/ui/accordion.tsx
  app/frontend-webapp/components/ui/alert.tsx
  app/frontend-webapp/components/ui/avatar.tsx
  app/frontend-webapp/components/ui/badge.tsx
  app/frontend-webapp/components/ui/button.tsx
  app/frontend-webapp/components/ui/command.tsx
  app/frontend-webapp/components/ui/dialog.tsx
  app/frontend-webapp/components/ui/dropdown-menu.tsx
  app/frontend-webapp/components/ui/input.tsx
  app/frontend-webapp/components/ui/label.tsx
  app/frontend-webapp/components/ui/popover.tsx
  app/frontend-webapp/components/ui/separator.tsx
  app/frontend-webapp/components/ui/sheet.tsx
  app/frontend-webapp/components/ui/switch.tsx
  app/frontend-webapp/components/ui/table.tsx
  app/frontend-webapp/components/ui/tabs.tsx
  app/frontend-webapp/components/ui/toast.tsx
  app/frontend-webapp/components/ui/toaster.tsx
  app/frontend-webapp/components/ui/tooltip.tsx
  app/frontend-webapp/components/ui/use-toast.ts
Labels: Area: Frontend

Update Navbar from panda to tailwind
  app/frontend-webapp/components/core/Navbar.tsx
  app/frontend-webapp/components/core/UserMenu.tsx
Labels: Area: Frontend

Update data table from panda to tailwind
  app/frontend-webapp/components/data-table/DataTableColumnHeader.tsx
  app/frontend-webapp/components/data-table/DataTableFacetedFilter.tsx
  app/frontend-webapp/components/data-table/DataTableToolbar.tsx
  app/frontend-webapp/components/data-table/DataTableViewOptions.tsx
  app/frontend-webapp/components/data-table/index.tsx
Labels: Area: Frontend

Update not found page, loading state and auth buttons to tailwind
  app/frontend-webapp/app/loading.tsx
  app/frontend-webapp/app/not-found.tsx
  app/frontend-webapp/app/providers.tsx
  app/frontend-webapp/auth/components/user-auth.tsx
Labels: Area: Frontend

Update studies components to tailwind
  app/frontend-webapp/components/studies/Add.tsx
  app/frontend-webapp/components/studies/Create.tsx
  app/frontend-webapp/components/studies/Details.tsx
  app/frontend-webapp/components/studies/Submit.tsx
  app/frontend-webapp/components/studies/UserManagement.tsx
  app/frontend-webapp/components/studies/Validate.tsx
Labels: Area: Frontend

Update shared components to tailwind
  app/frontend-webapp/components/shared/ConfirmationDialog.tsx
  app/frontend-webapp/components/shared/Description.tsx
  app/frontend-webapp/components/shared/EnvironmentBadge.tsx
  app/frontend-webapp/components/shared/Icons.tsx
Labels: Area: Frontend

Update home components to tailwind
  app/frontend-webapp/components/home/LandingPage.tsx
  app/frontend-webapp/components/home/UserHome.tsx
Labels: Area: Frontend

Update form components to tailwind
  app/frontend-webapp/components/forms/FormHelpErrors.tsx
  app/frontend-webapp/components/forms/FormikInput.tsx
Labels: Area: Frontend

Update sidebar components to tailwind
  app/frontend-webapp/components/core/ActionCard.tsx
  app/frontend-webapp/components/core/Spinner.tsx
  app/frontend-webapp/components/core/sidebar/Brand.tsx
  app/frontend-webapp/components/core/sidebar/Sidebar.tsx
  app/frontend-webapp/components/core/sidebar/SidebarContent.tsx
  app/frontend-webapp/components/core/sidebar/SidebarItem.tsx
Labels: Area: Frontend

Update synthetic data page to tailwind
  app/frontend-webapp/app/synthetic-data/form.tsx
  app/frontend-webapp/app/synthetic-data/page.tsx
Labels: Area: Frontend

Update studies pages to tailwind
  app/frontend-webapp/app/studies/[id]/page.tsx
  app/frontend-webapp/app/studies/columns.tsx
  app/frontend-webapp/app/studies/page.tsx
Labels: Area: Frontend

Update reports page to tailwind
  app/frontend-webapp/app/reports/page.tsx
  app/frontend-webapp/app/reports/resolved/page.tsx
Labels: Area: Frontend

Update settings page to tailwind
  app/frontend-webapp/app/settings/config.tsx
  app/frontend-webapp/app/settings/page.tsx
Labels: Area: Frontend

Update pages layout to tailwind
  app/frontend-webapp/app/layout.tsx
  app/frontend-webapp/components.json
  app/frontend-webapp/constants/environments.ts
Labels: Area: Frontend

Fix sorting of imports and exports
  app/frontend-webapp/app/studies/[id]/page.tsx
  app/frontend-webapp/app/synthetic-data/form.tsx
  app/frontend-webapp/app/synthetic-data/page.tsx
  app/frontend-webapp/components/data-table/DataTableColumnHeader.tsx
  app/frontend-webapp/components/data-table/DataTableToolbar.tsx
  app/frontend-webapp/components/data-table/DataTableViewOptions.tsx
  app/frontend-webapp/components/ui/accordion.tsx
  app/frontend-webapp/components/ui/alert.tsx
  app/frontend-webapp/components/ui/avatar.tsx
  app/frontend-webapp/components/ui/badge.tsx
  app/frontend-webapp/components/ui/button.tsx
  app/frontend-webapp/components/ui/command.tsx
  app/frontend-webapp/components/ui/dialog.tsx
  app/frontend-webapp/components/ui/dropdown-menu.tsx
  app/frontend-webapp/components/ui/label.tsx
  app/frontend-webapp/components/ui/popover.tsx
  app/frontend-webapp/components/ui/separator.tsx
  app/frontend-webapp/components/ui/sheet.tsx
  app/frontend-webapp/components/ui/switch.tsx
  app/frontend-webapp/components/ui/table.tsx
  app/frontend-webapp/components/ui/tabs.tsx
  app/frontend-webapp/components/ui/toast.tsx
  app/frontend-webapp/components/ui/tooltip.tsx
  app/frontend-webapp/components/ui/use-toast.ts
  app/frontend-webapp/lib/auth/middleware.ts
  app/frontend-webapp/lib/auth/next-auth.d.ts
Labels: Area: Frontend

Fix imports
  app/frontend-webapp/app/reports/columns.tsx
  app/frontend-webapp/app/reports/resolved/columns.tsx
  app/frontend-webapp/app/settings/config.tsx
Labels: Area: Frontend

Update imports and tsconfig
  app/frontend-webapp/app/reports/columns.tsx
  app/frontend-webapp/app/reports/resolved/columns.tsx
  app/frontend-webapp/app/settings/config.tsx
  app/frontend-webapp/tsconfig.json
Labels: Area: Frontend

Update package.json
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Update package.json to fix build
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Update package.json
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Update package.json
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Update packages to fix build error
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Upgrade MimeKit to fix backend build errors
  app/Monitor/Monitor.csproj
Labels: dependencies, Area: Backend

test backend build on PR branch
  .github/workflows/build.backend-api.yml
  .github/workflows/deploy.backend-api.yml
Labels: Area: CI

build backend on push/merge to main
  .github/workflows/build.backend-api.yml
  .github/workflows/deploy.backend-api.yml
Labels: Area: CI

Fix keycloak realm JSON files for dev, uat and prod
  config/nuh-dev.json
  config/nuh-prod.json
  config/nuh-uat.json
Labels: none

Upgrade MimeKit to fix backend build errors (#25)
  app/Monitor/Monitor.csproj
Labels: dependencies, Area: Backend

Fix keycloak realm JSON files for dev, uat and prod (#26)
  config/nuh-dev.json
  config/nuh-prod.json
  config/nuh-uat.json
Labels: none

Add GitHub workflows for uat and production
  .github/workflows/build.backend-api.yml
  .github/workflows/build.frontend-webapp.yml
  .github/workflows/build.function.yml
  .github/workflows/deploy.backend-api.yml
  .github/workflows/deploy.frontend-webapp.yml
  .github/workflows/deploy.functions.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Test build and deployment on pr branch
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update GitHub Actions workflow
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Update deploy.yml and add build.yml
  .github/workflows/build.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

.github/labeler.yml:

"Area: Migrations":
  - 'lib/Data/Migrations/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'app/frontend-webapp/package.json'
  - 'app/frontend-webapp/package-lock.json'
  - 'app/Functions/Functions.csproj'
  - 'app/Monitor/Monitor.csproj'
  - 'lib/Data/Data.csproj'
  - 'lib/Monitor.Shared/Monitor.Shared.csproj'
  - 'test/Monitor.Tests/Monitor.Tests.csproj'

"Area: CI":
  - '.github/**/*'

documentation:
  - 'readme/**'
  - 'docs/**'
  - 'readme.md'

"Area: Backend":
  - 'app/Monitor/**'
  - 'lib/Data/**'
  - 'lib/Monitor.Shared/**'

"Area: Frontend":
  - 'app/frontend-webapp/**'
