Repository Health-Informatics-UoN/rcc-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, documentation, Area: Backend, Area: Frontend

.github/labeler.yml:

"Area: Migrations":
  - 'lib/Data/Migrations/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'app/frontend-webapp/package.json'
  - 'app/frontend-webapp/package-lock.json'
  - 'app/Functions/Functions.csproj'
  - 'app/Monitor/Monitor.csproj'
  - 'lib/Data/Data.csproj'
  - 'lib/Monitor.Shared/Monitor.Shared.csproj'
  - 'test/Monitor.Tests/Monitor.Tests.csproj'

"Area: CI":
  - '.github/**/*'

documentation:
  - 'readme/**'
  - 'docs/**'
  - 'readme.md'

"Area: Backend":
  - 'app/Monitor/**'
  - 'lib/Data/**'
  - 'lib/Monitor.Shared/**'

"Area: Frontend":
  - 'app/frontend-webapp/**'

GitHub Releases (#27)
  .github/workflows/build.backend-api.yml
  .github/workflows/build.frontend-webapp.yml
  .github/workflows/build.function.yml
  .github/workflows/build.yml
  .github/workflows/deploy.backend-api.yml
  .github/workflows/deploy.frontend-webapp.yml
  .github/workflows/deploy.functions.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Fix invalid date format error
  app/frontend-webapp/components/studies/Details.tsx
Labels: Area: Frontend

Fix icon spacing and badge colours
  app/frontend-webapp/app/studies/columns.tsx
  app/frontend-webapp/components/data-table/DataTableFacetedFilter.tsx
  app/frontend-webapp/components/shared/EnvironmentBadge.tsx
  app/frontend-webapp/components/shared/Icons.tsx
  app/frontend-webapp/components/ui/button.tsx
  app/frontend-webapp/constants/environments.ts
Labels: Area: Frontend

Fix function build and publish before deployment
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Test build on PR
  .github/workflows/build.yml
Labels: Area: CI

Undo change for build test on PR
  .github/workflows/build.yml
Labels: Area: CI

Fix view study detail page (#28)
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
  app/frontend-webapp/app/studies/columns.tsx
  app/frontend-webapp/components/data-table/DataTableFacetedFilter.tsx
  app/frontend-webapp/components/shared/EnvironmentBadge.tsx
  app/frontend-webapp/components/shared/Icons.tsx
  app/frontend-webapp/components/studies/Details.tsx
  app/frontend-webapp/components/ui/button.tsx
  app/frontend-webapp/constants/environments.ts
Labels: Area: CI, Area: Frontend

Get RedCap urls from cookies and remove constants
  app/frontend-webapp/app/studies/columns.tsx
  app/frontend-webapp/constants/index.ts
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Set RedCap urls in cookies in middleware
  app/frontend-webapp/middleware.ts
Labels: Area: Frontend

Update Navbar UI
  app/frontend-webapp/auth/components/user-auth.tsx
  app/frontend-webapp/components/core/Navbar.tsx
  app/frontend-webapp/components/core/UserMenu.tsx
Labels: Area: Frontend

Test UAT on PR
  .github/workflows/deploy.yml
Labels: Area: CI

Undo test UAT on PR
  .github/workflows/deploy.yml
Labels: Area: CI

Fix view study on RedCap (#29)
  app/frontend-webapp/app/studies/columns.tsx
  app/frontend-webapp/auth/components/user-auth.tsx
  app/frontend-webapp/components/core/Navbar.tsx
  app/frontend-webapp/components/core/UserMenu.tsx
  app/frontend-webapp/constants/index.ts
  app/frontend-webapp/middleware.ts
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, Area: Frontend

Add documentation site
  docs/.gitignore
  docs/next.config.js
  docs/package-lock.json
  docs/package.json
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/infrastructure.mdx
  docs/pages/keycloak.mdx
  docs/public/activity.png
  docs/theme.config.jsx
Labels: documentation

Add github workflow to deploy docs site to github pages
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update checkout version on deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Add test branch to deploy list
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update docs site deployment workflow branch to main
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update brand style on docs nav
  docs/theme.config.jsx
Labels: documentation

Add documentation site (#33)
  .github/workflows/deploy.docs.yml
  docs/.gitignore
  docs/next.config.js
  docs/package-lock.json
  docs/package.json
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/infrastructure.mdx
  docs/pages/keycloak.mdx
  docs/public/activity.png
  docs/theme.config.jsx
Labels: Area: CI, documentation

Update deploy.docs.yml
  .github/workflows/deploy.docs.yml
  docs/next.config.js
Labels: Area: CI, documentation

Update dev docs deploy workflow
  .github/workflows/deploy.docs.yml
  docs/next.config.js
Labels: Area: CI, documentation

Update README.md
  .github/workflows/deploy.docs.yml
  README.md
Labels: Area: CI

Update paths to track for workflow run
  .github/workflows/deploy.docs.yml
Labels: Area: CI

Update docs index
  docs/pages/index.mdx
Labels: documentation

Update docs site deploy workflow (#35)
  .github/workflows/deploy.docs.yml
  README.md
  docs/next.config.js
  docs/pages/index.mdx
Labels: Area: CI, documentation
