Repository Health-Informatics-UoN/rcc-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, dependencies, CI, documentation, backend, frontend

Add label job
  .github/workflows/label.yml
Labels: CI

Add PR template
  .github/pull_request_template.md
Labels: CI

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: CI

Add permission check for deleting a study
  app/frontend-webapp/app/studies/columns.tsx
Labels: frontend

Fix seeded data
  app/Monitor/Data/DataSeeder.cs
Labels: backend

Reorder imports
  app/frontend-webapp/auth/options.ts
Labels: frontend

Update next dependencies
  app/frontend-webapp/package.json
  package-lock.json
Labels: dependencies, frontend

Remove tokens from the session
  app/frontend-webapp/auth/options.ts
  app/frontend-webapp/types/next-auth.d.ts
Labels: frontend

.github/labeler.yml:

migrations:
  - 'lib/Data/Migrations/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'app/frontend-webapp/package.json'
  - 'app/frontend-webapp/package-lock.json'
  - 'app/Functions/Functions.csproj'
  - 'app/Monitor/Monitor.csproj'
  - 'lib/Data/Data.csproj'
  - 'lib/Monitor.Shared/Monitor.Shared.csproj'
  - 'test/Monitor.Tests/Monitor.Tests.csproj'

CI:
  - '.github/**/*'

documentation:
  - 'readme/**'
  - 'docs/**'
  - 'readme.md'

backend:
  - 'app/Monitor/**'
  - 'lib/Data/**'
  - 'lib/Monitor.Shared/**'

frontend:
  - 'app/frontend-webapp/**'
